<h5>
  Cadastrar/Alterar Prato
</h5>

<div class="row">
    <div class="input-field col s6">      
      <input disabled [(ngModel)]="dish.id" id="disabled" type="text" class="validate">
      <label class="active" for="disabled">Id</label>
    </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input id="nome" [(ngModel)]="dish.nome" type="text" class="validate" required>
    <label class="active" for="nome">Nome</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input id="valor" [(ngModel)]="dish.valor" type="text" class="validate" required>
    <label class="active" for="valor">Valor</label>
  </div>
</div>
<div class="row">
<div class="input-field col s6">
<label class="active" >Restaurante</label>
<select class="browser-default" name="restaurantId" [(ngModel)]="dish.restaurantId" required>
  <option value="id" *ngFor="let restaurant of restaurants" [value]="restaurant.id">{{ restaurant.nome }}</option>  
</select>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>   
<script>
(function($){
  $(function(){    
    $('select').not('.disabled').formSelect();
  }); 
})(jQuery); 
</script>
<br>  
<a class="waves-effect waves-light btn" (click)="onGravarClick()">Gravar</a>
<a class="waves-effect waves-light btn" (click)="onCancelarClick()">Cancelar</a>
<button class="waves-effect waves-light btn" [disabled]="(dish.id == null || dish.id === 0)" (click)="onExcluirClick(dish.id)">Excluir</button>
