<h5>
    Cadastrar/Alterar Restaurante
  </h5>
  
  <div class="row">
    <div class="input-field col s6">
       <input disabled [(ngModel)]="restaurant.id" id="disabled" type="text" class="validate">
       <label class="active" for="disabled">Id</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input id="nome" [(ngModel)]="restaurant.nome" type="text" class="validate">
      <label class="active" for="nome">Nome</label>
    </div>  
  </div>
  <br>  
  <a class="waves-effect waves-light btn" (click)="onGravarClick()">Gravar</a>
  <a class="waves-effect waves-light btn" (click)="onCancelarClick()">Cancelar</a>
  <button class="waves-effect waves-light btn" [disabled]="(restaurant.id == null || restaurant.id === 0)" (click)="onExcluirClick(restaurant.id)">Excluir</button>  
